<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.ssm.mapper.AverageFailureRateMapper" >
    <!--属性映射-->
    <resultMap id="AverageFailureMap" type="com.demo.ssm.po.AverageFailureRate">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="company" property="company" jdbcType="VARCHAR"/>
        <result column="AverageFailureRate" property="failureRate"/>

    </resultMap>


    <sql id="Average">
        ID,company,AverageFailureRate

    </sql>
    
    <select id="selectByPrimaryKey" resultMap="AverageFailureMap" >
        SELECT *
        FROM companyaveragefailurerate_8_years
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM companyaveragefailurerate_8_years

    </select>
    
    
</mapper>