<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.ssm.mapper.ExampleAnalysisMapper" >

    <!--结果映射-->
    <resultMap id="AnalysisMap" type="com.demo.ssm.po.ExampleAnalysis">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="TransformSubstation" property="stationName" jdbcType="VARCHAR"/>
        <result column="UseTime" property="useTime" jdbcType="VARCHAR"/>
        <result column="beta" property="beta" jdbcType="VARCHAR"/>
        <result column="eta" property="eta" jdbcType="VARCHAR"/>
    </resultMap>

    <!--字段片段-->
    <sql id="Analysis">
        ID,TransformSubstation,UseTime,beta,eta
    </sql>

    <!--按照ID查询-->
    <select id="selectByPrimaryKey" resultMap="AnalysisMap" >
        SELECT *
        FROM businessreliabilityforecast_exampleanalysis

    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM businessreliabilityforecast_exampleanalysis

    </select>

</mapper>