<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.ssm.mapper.FailureRate_forecastMapper" >

    <!--结果映射-->
    <resultMap id="FailureMap" type="com.demo.ssm.po.FailureRate_forecast">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="UseTime" property="useTime" jdbcType="VARCHAR"/>

    </resultMap>

    <!--字段片段-->
    <sql id="FailureRate">
        ID,UseTime
    </sql>

    <!--按照ID查询-->
    <select id="selectByPrimaryKey" resultMap="FailureMap" >
        SELECT *
        FROM equipmentfailurerate_forecast

    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM equipmentfailurerate_forecast

    </select>

</mapper>