<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.ssm.mapper.Relationship_Centrality_BusinessNumMapper" >

    <!--结果映射-->
    <resultMap id="CentralityMap" type="com.demo.ssm.po.Relationship_Centrality_BusinessNum">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="Centrality" property="centrality" jdbcType="VARCHAR"/>
        <result column="AverageBusinessNum" property="averageBusinessNum" jdbcType="VARCHAR"/>

    </resultMap>

    <!--字段片段-->
    <sql id="Centrality">
        ID,Centrality,AverageBusinessNum
    </sql>

    <!--按照ID查询-->
    <select id="selectByPrimaryKey" resultMap="CentralityMap" >
        SELECT *
        FROM stationcentralityandbusinessnum_relationship
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM stationcentralityandbusinessnum_relationship

    </select>

</mapper>