<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.ssm.mapper.S_net.LowReliabilityMapper" >



    <select id="selectByProvince" parameterType="String" resultType="com.demo.ssm.po.S_net.LowReliability">
        SELECT province,OBJ_ID,NAME,BuzRe
        From jiangxi_t_buz_re
        where province = #{province,jdbcType=VARCHAR} and  BuzRe <![CDATA[>= ]]> 0.4
        ORDER BY BuzRe ASC
        limit 10,5
    </select>


</mapper>