<tr>
        <td>1</td>
        <td>500kV南昌变</td>
        <td>127</td>
        <td>127.04</td>
</tr>
<tr>
        <td>2</td>
        <td>220kV前湖变</td>
        <td>51</td>
        <td>50.84</td>
</tr>
<tr>
        <td>3</td>
        <td>220kV沙城变</td>
        <td>51</td>
        <td>53.01</td>
</tr>
<tr>
        <td>4</td>
        <td>220kV临川变</td>
        <td>67</td>
        <td>70.22</td>
</tr>
<tr>
        <td>5</td>
        <td>500kV广丰变</td>
        <td>68</td>
        <td>71.77</td>
</tr>
<tr>
        <td>6</td>
        <td>220kV坪岭变</td>
        <td>62</td>
        <td>66.45</td>
</tr>
<tr>
        <td>7</td>
        <td>110kV罗河变</td>
        <td>20</td>
        <td>19.86</td>
</tr>
<tr>
        <td>8</td>
        <td>110kV西郊变</td>
        <td>22</td>
        <td>21.81</td>
</tr>
<tr>
        <td>9</td>
        <td>赣县县供电分公司</td>
        <td>18</td>
        <td>17.69</td>
</tr>
<tr>
        <td>10</td>
        <td>220kV永和变</td>
        <td>29</td>
        <td>28.66</td>
</tr>