<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>厂家、设备型号、使用年限与故障率关系挖掘</title>
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script type="text/javascript" charset="utf8" src="js/jquery.dataTables.js"></script>
    <script src="js/bootstrap.min.js?v=3.3.5"></script>
    <script src="S_js/echarts.js"></script>
    <script src="js/content.min.js?v=1.0.0"></script>
    <script src="layer/layer.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
    <link rel="stylesheet" href="layer/skin/default/layer.css">


</head>
<body>
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <p>1.总体而言，设备的故障率在前7年持续上升，7年之后，故障率稳定在较高位置。</p>
        <p>2.ECI与阿尔卡特的设备故障率比较高，和记奥普泰与中兴的设备故障率较低。</p>
        <p>3.中兴、NEC以及和记奥普泰的设备故障率与使用年限关系很大.</p>
        </div>

</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">设备故障信息表</h4>
            </div>
            <div class="modal-body">
                <table id="dataTable02" class="display dataTable table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <!--<th>设备ID</th>-->
                        <th>设备名称</th>
                        <th>生产厂家</th>
                        <th>故障日期</th>
                        <th>故障时间</th>
                        <th>故障恢复时间</th>
                        <th>故障类型</th>
                        <th>设备类型</th>
                        <th>工作年限</th>
                        <th>省份</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                <!--<button type="button" class="btn btn-primary">提交更改</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div  class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>各厂家设备前8年平均故障率</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id='ey_failure' style='width: 90%;height: 600px;'></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div id = "tag01" class="ibox-title">
                <h5>故障类型分析:点击柱状图可查看厂家的具体故障分析</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
                <div id = "tag02" class="ibox-title">
                    <h5>该厂家设备的故障次数前150统计表：</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id='type_alarm' style="display: none">
                    <table id="dataTable01" class="display dataTable table-hover" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>厂家名称</th>
                            <th>设备名称</th>
                            <th>设备类型</th>
                            <th>工作年限</th>
                            <th>故障次数</th>
                            <th>省份</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>


                    </table>
                </div>
                <div class="ibox-content">
                    <div id='type_failure' style='width: 90%;height: 700px; display: none;' ></div>
                </div>

            </div>
        </div>
    </div>
    <!--隐藏为弹窗传入参数-->
    <input id ="producer_name_value" style="display:none"/>
    <input id ="ne_name_value" style="display:none"/>
    <input id ="province_value" style="display:none"/>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>各厂家设备故障率与使用年限关系</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id='ey_failure2' style='height: 700px;'></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>
    $(document).ready(function(){
        equip();
        Relation();
        $('#dataTable01 tbody').on('click', 'td.details-control', function (){
            var tr = $(this).closest('tr');
            var row = table01.row(tr);
            acquiredetail(row)
            //console.log(row)

        } );
    });

    function equip() {
        //获取平均故障率数据
        $.ajax({
            url: "../../AverageFailureRate/select",
            type: "post",
            dataType: "json",
            async: false,
            success: function (data) {

                Average(data);

            },
            error: function (data) {
                if (data.result == "error") {
                    alert("出现异常");
                }
            }
        });

    }

    function Average(obj) {
        var AverageData = new Array();
        var CompanyName = new Array();

        //取出各公司平均故障率数据
        $.each(obj, function (i, item) {
            CompanyName[i] = item.Company;
            AverageData[i] = item.FailureRate;

        });

    var myChart = echarts.init(document.getElementById('ey_failure'));
    option = {
        title: {
            text: "各厂家设备前八年平均故障率",
            left: "center"
        },
        color: ['#3398DB'],
        tooltip : {
            trigger: 'axis',
            formatter: '{b0} <br />{a}：{c0} 次每年',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                data : CompanyName,
                axisTick: {
                    alignWithLabel: true
                },
                axisLabel: {
                    // rotate: 60,
                    margin: 15,
                    fontSize: 14,
                    fontWeight: 'bolder'
                }
            }
        ],

        yAxis : [
            {
                name :'故障率（次/年）',
                nameLocation: "middle",
                nameGap: 36,
                nameTextStyle : {
                    fontSize: 16,
                    fontWeight: 'bold',
                    padding : [10, 0, 0, 30]
                },
                axisLabel: {
                    fontSize: 14,
                    fontWeight: 'bolder'
                },
                nameRotate:90,
                type : 'value'
            }
        ],
        series : [
            {
                name:'平均故障率',
                type:'bar',
                barWidth: '60%',
                data: AverageData
            }
        ]
    };

    myChart.setOption(option);

        //echarts图表点击跳转
        myChart.on('click', function (param){

            var name=param.name;
            window.location.hash = "#tag01";
            acquire(name);
            acquireall(name);
        });
        myChart.on('click');

    }

</script>

<script type='text/javascript'>
    function acquire(producer) {
        //获取故障类型数据
        var producer = producer;
        $.ajax({
            url: "../../AverageFailureRate/alarm_cause",
            type: "post",
            dataType: "json",
            data:"producer="+producer,
            async: false,
            success: function (data) {

                Analyse(data,producer);

            },
            error: function (data) {
                if (data.result == "error") {
                    alert("出现异常");
                }
            }
        });

    }

    function Analyse(obj,producer) {
        var alarm_cause = new Array();
        var num = new Array();
        var legendData = [];
        var seriesData = [];

        //
        $.each(obj, function (i, item) {
            num[i] = item.num;
            alarm_cause[i] = item.alarm_cause;
            legendData.push(alarm_cause[i]);
            seriesData.push({
                name:alarm_cause[i],
                value:num[i]
            })

        });
        document.getElementById("type_failure").style.display="";
        var myChart = echarts.init(document.getElementById('type_failure'));
        option = {
            title : {
                text: '故障类型分析饼状图',
                subtext: producer,
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                type: 'scroll',
                orient: 'vertical',
                right: 10,
                top: 20,
                bottom: 20,
                data: legendData
            },
            series : [
                {
                    name: '故障类型',
                    type: 'pie',
                    radius : '55%',
                    center: ['40%', '50%'],
                    data: seriesData,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        myChart.setOption(option);
    }

</script>

<script type="text/javascript">
   /* function acquiredetail(row) {
        //获取所有故障数据
        var producer = row.node().cells[0].innerText
        var ne_name = row.node().cells[1].innerText
        var province = row.node().cells[5].innerText

        $("#producer_name_value").val(producer)
        $("#ne_name_value").val(ne_name)
        $("#province_value").val(province)

        var page="P_alarm_list.html";
        var mypage = window.open (page, "detail", "height=500, width=1300, top=100, left=100, channelmode=yes, fullscreen=yes, location=no, titlebar=no, resizable=no, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no");
    }*/

   function acquiredetail(row){
       var producer = row.node().cells[0].innerText
       var ne_name = row.node().cells[1].innerText
       var province = row.node().cells[5].innerText

       var index = layer.load(0, {
           shade: [0.3, '#ddd']//0.1透明度的白色背景
       });
       var data = producer+","+ne_name+","+province
       //alert(data)
       data = data.replace(/\+/g, "%2B");
       data = data.replace(/\&/g, "%26");
       table02 = $('#dataTable02').DataTable( {
           "ajax" : "../../AverageFailureRate/alarm_combine?data="+data,
           "columns": [
               //{ "data": "NE_OBJ_ID" },
               { "data": "NE_NAME" },
               { "data": "PRODUCER_NAME" },
               { "data": "ALARM_EMS_TIME_DAY" },
               { "data": "ALARM_EMS_TIME" },
               { "data": "ALARM_EMS_RESUME_TIME" },
               { "data": "ALARM_CAUSE" },
               { "data": "DEV_TYPE_NAME" },
               //{ "data": "PRODUCER_ID" },
               { "data": "WORK_YEAR" },
               //{ "data": "DEV_TYPE" },
               { "data": "PROVINCE" }
           ],
           "destroy":true, //Cannot reinitialise DataTable,解决重新加载表格内容问题
          // "processing" : true

           "initComplete": function() {
               layer.close(index);
           },
           "iDisplayLength" : 5//默认每页数量
           /*
                     //"bPaginate": true, //翻页功能
                     "bLengthChange" : false, //改变每页显示数据数量
                     //"bFilter" : true, //过滤功能
                     "ordering" : false,
                     "bSort" : false, //排序功能
                     //"bInfo" : true,//页脚信息
                     //"bAutoWidth" : true,//自动宽度
                     "stateSave" : true,
                     "retrieve" : true,
                     "processing" : true,
                     "serverSide" : true,*/
       } );
   }
</script>

<script type="text/javascript">
    /*$(function () { $('#myModal').modal({
        keyboard: true
    })});*/
    function acquireall(producer){
        document.getElementById("type_alarm").style.display="";
        var index = layer.load(0, {
            shade: [0.3, '#ddd']//0.1透明度的白色背景
        });
        table01 = $('#dataTable01').DataTable( {
            "ajax" : "../../AverageFailureRate/ne_name_alarm?producer="+producer,
            "columns": [
                { "data": "producer_name" },
                { "data": "ne_name" },
                { "data": "dev_type_name" },
                { "data": "work_year" },
                { "data": "num" },
                { "data": "province" },
                {
                    "className":      'details-control',
                    "orderable":      false,
                    "data":           null,
                   /* "defaultContent": "<button class='edit-btn info' type='button' data-toggle='modal' data-target='#myModal'>查询</button>"*/
                    "defaultContent": "<button class='btn btn-white' type='button' style='color:#ffffff;background-color: #1ab394;' data-toggle='modal' data-target='#myModal'>详情</button>"
                }
            ],
            "destroy":true, //Cannot reinitialise DataTable,解决重新加载表格内容问题
            //"processing" : true
            "initComplete": function() {
                layer.close(index);
            }

  /*          "iDisplayLength" : 10,//默认每页数量
            //"bPaginate": true, //翻页功能
            "bLengthChange" : false, //改变每页显示数据数量
            //"bFilter" : true, //过滤功能
            "ordering" : false,
            "bSort" : false, //排序功能
            //"bInfo" : true,//页脚信息
            //"bAutoWidth" : true,//自动宽度
            "stateSave" : true,
            "retrieve" : true,

            "serverSide" : true,*/
        } );
    }
</script>

<script type='text/javascript'>


    //各厂家设备故障率与使用年限关系图
    function Relation() {
        //获取故障率与使用时间的关系的数据
        $.ajax({
            url: "../../Relationship_Failure_Year/select",
            type: "post",
            dataType: "json",
            async: false,
            success: function (data) {
                relationData(data);

            },
            error: function (data) {
                if (data.result == "error") {
                    alert("出现异常");
                }
            }
        });

    }


    function relationData(obj) {

        var companyName = new Array();
        var datasub = new Array();
        var failureRate= new Array();

        var data_eci = new Array();
        var data_nec = new Array();
        var data_zx = new Array();
        var data_hw = new Array();
        var data_hjapt = new Array();
        var data_aekt = new Array();
        var data_mkn = new Array();
        var data_all = new Array();

        var eci_x = new Array();
        var nec_x = new Array();
        var zx_x = new Array();
        var hw_x = new Array();
        var hjapt_x = new Array();
        var aekt_x = new Array();
        var mkn_x = new Array();
        var all_x = new Array();

        var eci_y = new Array();
        var nec_y = new Array();
        var zx_y = new Array();
        var hw_y = new Array();
        var hjapt_y = new Array();
        var aekt_y = new Array();
        var mkn_y = new Array();
        var all_y = new Array();

        var eci = new Array();
        var nec = new Array();
        var zx = new Array();
        var hw = new Array();
        var hjapt = new Array();
        var aekt = new Array();
        var mkn = new Array();
        var all = new Array();



        var length1=0,length2=0,length3=0,length4=0,length5=0,length6=0,length7=0,length8=0;

        //取出数据
        $.each(obj, function (i, item) {
            companyName[i] = item.Company;
            datasub[i] = item.UseTime;
            failureRate[i]= item.FailureRate;
            if ('ECI'==item.Company) {
                eci[length1]=item;
                length1++;

            }
            else if ('NEC'==item.Company) {
                nec[length2]=item;
                length2++;

            }
            else if ('中兴'==item.Company){
                zx[length3]=item;
                length3++;

            }
            else if ('华为'==item.Company) {
                hw[length4]=item;
                length4++;

            }
            else if ('和记奥普泰'==item.Company) {
                hjapt[length5]=item;
                length5++;

            }
            else if ('阿尔卡特'==item.Company) {
                aekt[length6]=item;
                length6++;

            }
            else if ('马可尼'==item.Company) {
                mkn[length7]=item;
                length7++;

            }
            else {
                all[length8]=item;
                length8++;

            }
        });

        //按照使用时间排序
                function sortbyTemp(a,b) {
                    return a.UseTime-b.UseTime;
                }
                eci.sort(sortbyTemp);
                nec.sort(sortbyTemp);
                zx.sort(sortbyTemp);
                hw.sort(sortbyTemp);
                hjapt.sort(sortbyTemp);
                aekt.sort(sortbyTemp);
                mkn.sort(sortbyTemp);
                all.sort(sortbyTemp);

       //分离数据
        for(var i=0;i<eci.length;i++){
            eci_x[i] = eci[i].UseTime;
            eci_y[i] = eci[i].FailureRate;
            data_eci[i]=[eci_x[i], eci_y[i]];
        }
        for(var i=0;i<nec.length;i++){
            nec_x[i] = nec[i].UseTime;
            nec_y[i] = nec[i].FailureRate;
            data_nec[i]=[nec_x[i], nec_y[i]];
        }
        for(var i=0;i<zx.length;i++){
            zx_x[i] = zx[i].UseTime;
            zx_y[i] = zx[i].FailureRate;
            data_zx.push([zx_x[i], zx_y[i]]);
        }
        for(var i=0;i<hw.length;i++){
            hw_x[i] = hw[i].UseTime;
            hw_y[i] = hw[i].FailureRate;
            data_hw.push([hw_x[i], hw_y[i]]);
        }
        for(var i=0;i<hjapt.length;i++){
            hjapt_x[i] = hjapt[i].UseTime;
            hjapt_y[i] = hjapt[i].FailureRate;
            data_hjapt.push([hjapt_x[i], hjapt_y[i]]);
        }
        for(var i=0;i<aekt.length;i++){
            aekt_x[i] = aekt[i].UseTime;
            aekt_y[i] = aekt[i].FailureRate;
            data_aekt.push([aekt_x[i], aekt_y[i]]);
        }
        for(var i=0;i<mkn.length;i++){
            mkn_x[i] = mkn[i].UseTime;
            mkn_y[i] = mkn[i].FailureRate;
            data_mkn.push([mkn_x[i], mkn_y[i]]);
        }
        for(var i=0;i<all.length;i++){
            all_x[i] = all[i].UseTime;
            all_y[i] = all[i].FailureRate;
            data_all.push([all_x[i], all_y[i]]);
        }


    var myChart2 = echarts.init(document.getElementById('ey_failure2'));

    option2 = {
        backgroundColor: '#394056',
        title: {
            text: '各厂家设备故障率与使用年限的关系',
            left: 'center',
            textStyle: {
                fontWeight: 'bolder',
                fontSize: 24,
                color: '#F1F1F3'
            }
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                lineStyle: {
                    color: '#57617B'
                }
            }
        },
        legend: {
            icon: 'rect',
            itemWidth: 30,
            itemHeight: 3,
            itemGap: 13,
            right: '5%',
            top: 40,
            orient: 'vartical',
            data: companyName,
            right: '4%',
            textStyle: {
                fontSize: 14,
                color: '#F1F1F3'
            }
        },
        grid: {
            left: '4%',
            right: '4%',
            bottom: '5%',
            containLabel: true
        },
        xAxis: [{
            name: '使用年限',
            nameLocation: 'middle',
            nameGap:30,
            nameTextStyle: {
                color: '#F1F1F3',
                fontSize: 16
            },
            splitNumber: 9,
            splitLine: {
                lineStyle: {
                    color: '#57617B',
                    type: 'dashed'
                }
            },
            axisLine: {
                lineStyle: {
                    color: '#57617B'
                }
            },
            axisLabel: {
                margin: 10,
                textStyle: {
                    fontSize: 16
                }
            }
        }],
        yAxis: [{
            type: 'value',
            name: '故障率（次/年）',
            nameTextStyle: {
                color: '#F1F1F3',
                fontSize: 16
            },
            axisTick: {
                show: false
            },
            axisLine: {
                lineStyle: {
                    color: '#57617B'
                }
            },
            axisLabel: {
                margin: 10,
                textStyle: {
                    fontSize: 16
                }
            },
            splitLine: {
                lineStyle: {
                    type: 'dashed',
                    color: '#57617B'
                }
            }
        }],
        series: [{
            // pink
            name: 'ECI',
            type: 'line',
            connectNulls: true,
            symbol: 'circle',
            symbolSize: 8,
            showSymbol: true,
            lineStyle: {
                normal: {
                    color: 'rgb(238, 130, 238)',
                    width: 2
                }
            },
            areaStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(238, 130, 238, 0.3)'
                    }, {
                        offset: 0.8,
                        color: 'rgba(238, 130, 238, 0)'
                    }], false),
                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                    shadowBlur: 10
                }
            },
            itemStyle: {
                normal: {
                    color: 'rgb(238, 130, 238)',
                    borderColor: 'rgba(238, 130, 238,0.27)',
                    borderWidth: 12

                }
            },
            data: data_eci
        },{
            // yellow
            name: 'NEC',
            type: 'line',
            connectNulls: true,
            symbol: 'circle',
            symbolSize: 8,
            showSymbol: true,
            lineStyle: {
                normal: {
                    color: 'rgb(255, 185, 15)',
                    width: 2
                }
            },
            areaStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(255, 185, 15, 0.3)'
                    }, {
                        offset: 0.8,
                        color: 'rgba(255, 185, 15, 0)'
                    }], false),
                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                    shadowBlur: 10
                }
            },
            itemStyle: {
                normal: {
                    color: 'rgb(255, 185, 15)',
                    borderColor: 'rgba(255, 185, 15,0.27)',
                    borderWidth: 12

                }
            },
            data: data_nec
        },{
            // white
            name: '中兴',
            type: 'line',
            connectNulls: true,
            symbol: 'circle',
            symbolSize: 8,
            showSymbol: true,
            lineStyle: {
                normal: {
                    color: 'rgb(245, 245, 245)',
                    width: 2
                }
            },
            areaStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(245, 245, 245, 0.3)'
                    }, {
                        offset: 0.8,
                        color: 'rgba(245, 245, 245, 0)'
                    }], false),
                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                    shadowBlur: 10
                }
            },
            itemStyle: {
                normal: {
                    color: 'rgb(245, 245, 245)',
                    borderColor: 'rgba(245, 245, 245,0.27)',
                    borderWidth: 12

                }
            },
            data: data_zx
        },{
            // salmon
            name: '华为',
            type: 'line',
            connectNulls: true,
            symbol: 'circle',
            symbolSize: 8,
            showSymbol: true,
            lineStyle: {
                normal: {
                    color: 'rgb(250, 128, 114)',
                    width: 2
                }
            },
            areaStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(250, 128, 114, 0.3)'
                    }, {
                        offset: 0.8,
                        color: 'rgba(250, 128, 114, 0)'
                    }], false),
                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                    shadowBlur: 10
                }
            },
            itemStyle: {
                normal: {
                    color: 'rgb(250, 128, 114)',
                    borderColor: 'rgba(250, 128, 114, 0.27)',
                    borderWidth: 12

                }
            },
            data: data_hw
        },{
            // purple
            name: '和记奥普泰',
            type: 'line',
            connectNulls: true,
            symbol: 'circle',
            symbolSize: 8,
            showSymbol: true,
            lineStyle: {
                normal: {
                    color: 'rgb(147, 112, 219)',
                    width: 2
                }
            },
            areaStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(147, 112, 219, 0.3)'
                    }, {
                        offset: 0.8,
                        color: 'rgba(147, 112, 219, 0)'
                    }], false),
                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                    shadowBlur: 10
                }
            },
            itemStyle: {
                normal: {
                    color: 'rgb(147, 112, 219)',
                    borderColor: 'rgba(147, 112, 219, 0.27)',
                    borderWidth: 12

                }
            },
            data: data_hjapt
        },{
            // green
            name: '阿尔卡特',
            type: 'line',
            connectNulls: true,
            symbol: 'circle',
            symbolSize: 8,
            showSymbol: true,
            lineStyle: {
                normal: {
                    color: 'rgb(46, 139, 87)',
                    width: 2
                }
            },
            areaStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(46, 139, 87, 0.3)'
                    }, {
                        offset: 0.8,
                        color: 'rgba(46, 139, 87, 0)'
                    }], false),
                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                    shadowBlur: 10
                }
            },
            itemStyle: {
                normal: {
                    color: 'rgb(46, 139, 87)',
                    borderColor: 'rgba(46, 139, 87, 0.27)',
                    borderWidth: 12

                }
            },
            data: data_aekt
        },{
            // skyblue
            name: '马可尼',
            type: 'line',
            connectNulls: true,
            symbol: 'circle',
            symbolSize: 8,
            showSymbol: true,
            lineStyle: {
                normal: {
                    color: 'rgb(0, 191, 255)',
                    width: 2
                }
            },
            areaStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(0, 191, 255, 0.3)'
                    }, {
                        offset: 0.8,
                        color: 'rgba(0, 191, 255, 0)'
                    }], false),
                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                    shadowBlur: 10
                }
            },
            itemStyle: {
                normal: {
                    color: 'rgb(0, 191, 255)',
                    borderColor: 'rgba(0, 191, 255, 0.27)',
                    borderWidth: 12

                }
            },
            data: data_mkn
        },{
            // red
            name: '所有厂家',
            type: 'line',
            connectNulls: true,
            symbol: 'rect',
            symbolSize: 6,
            showSymbol: true,
            lineStyle: {
                normal: {
                    type: 'dashed',
                    color: 'rgb(255, 0, 0)',
                    width: 2
                }
            },
            areaStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(255, 0, 0, 0.3)'
                    }, {
                        offset: 0.8,
                        color: 'rgba(255, 0, 0, 0)'
                    }], false),
                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                    shadowBlur: 12
                }
            },
            itemStyle: {
                normal: {
                    color: 'rgb(255, 0, 0)',
                    borderColor: 'rgba(255, 0, 0, 0.27)',
                    borderWidth: 12

                }
            },
            data: data_all

        }
        ]
    };

    myChart2.setOption(option2);
    }
</script>
</body>
</html>