<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备可靠性评估与预测</title>
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.5"></script>
    <script src="layer/layer.js"></script>
    <script src="S_js/echarts.js"></script>
    <script src="js/content.min.js?v=1.0.0"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
    <link rel="stylesheet" href="layer/skin/default/layer.css">

    <style>
        .conn{
            width: 700px;
            height: 700px;
            margin: 10px;
            /*padding: 0 10px;*/
            float: left
        }
        .curve{
            width: 100%;
            height: 450px;
            margin: 20px 30px;
            padding: 10px 10px;
            /*display: inline;*/
        }
        .fl{
            float: left
        }
        .in-line{
            display: inline
        }
        .cl{
            height: 700px;
            margin: 10px 10px 20px 10px;
        }
        .childDiv{
            float:left; width: 40%; border:2px solid lightslategray;
        }
        .buzdiv{
            width: 900px;
            height: 500px;
            margin: 20px 30px;
            padding: 10px 10px

        }
    </style>
</head>
<body>
<div class="wrapper wrapper-content animated fadeInRight" id="lalala">
    <!--<div class="row" >-->
        <!--<div class="col-sm-6">-->
            <!--<div class="ibox float-e-margins">-->
                <!--<div class="ibox-title">-->
                    <!--<h5>洪源变设备可靠性预测</h5>-->
                    <!--<div class="ibox-tools">-->
                        <!--<a class="collapse-link">-->
                            <!--<i class="fa fa-chevron-up"></i>-->
                        <!--</a>-->
                        <!--<a class="close-link">-->
                            <!--<i class="fa fa-times"></i>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="ibox-content">-->
                    <!--<div name="eq" class="curve fl"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
            <!--<div class="ibox float-e-margins">-->
                <!--<div class="ibox-title">-->
                    <!--<h5>洪源变设备信息</h5>-->
                    <!--<div class="ibox-tools">-->
                        <!--<a class="collapse-link">-->
                            <!--<i class="fa fa-chevron-up"></i>-->
                        <!--</a>-->
                        <!--<a class="close-link">-->
                            <!--<i class="fa fa-times"></i>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="ibox-content">-->
                    <!--<div name="eq"  class="curve fl"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<script>

</script>
<script type="text/javascript">
    $(function(){
        var equipLst = new Array();
        var str = '';
        var index = null;
        $.ajax({
            url: "../../t/tt",
            type: "post",
            dataType: "json",
            async: false,
            beforeSend: function (request) {
                index = layer.load(0, {
                    shade: [0.3, '#ddd']//0.1透明度的白色背景
                });
            },
//                data: "buz_type="+buz_type+"&buz_id="+buz_id,
            success: function (data) {
                layer.close(index);
                for(var i=0;i<data.length;i++){
                    equipLst[i] = data[i];
//                    alert(i);
//                    if (i%2==0) {
//                        str = str + '<div class="row"><div class="col-sm-6"><div class="ibox float-e-margins"><div class="ibox-title"><h5>'+equipLst[i].name+'设备可靠性预测</h5>'+'<div class="ibox-tools"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a><a class="close-link"><i class="fa fa-times"></i></a></div></div><div class="ibox-content"><div name="eq" id="eq0" class="curve fl"></div></div></div></div>'
//                    }else{
//                        str = str + '<div class="col-sm-6"><div class="ibox float-e-margins"><div class="ibox-title"><h5>'+equipLst[i].name+'设备可靠性预测</h5><div class="ibox-tools"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a><a class="close-link"><i class="fa fa-times"></i></a></div></div><div class="ibox-content"><div name="eq" id="eq1" class="curve fl"></div></div></div></div></div>'
//                    }
                    str = str + '<div class="row">' +
                        '<div class="col-sm-8">' +
                        '<div class="ibox float-e-margins">' +
                        '<div class="ibox-title">' +
                        '<h5>'+equipLst[i].name+'设备可靠性预测</h5>'+
                        '<div class="ibox-tools">' +
                        '<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>' +
                        '<a class="close-link"><i class="fa fa-times"></i></a>' +
                        '</div>' +
                        '</div>' +
                        '<div class="ibox-content">' +
                        '<div name="eq" id="eq0" class="curve fl">' +
                        '</div>' +
                        '</div>' +
                        '</div></div>'
                    str = str + '<div class="col-sm-4">' +
                        '<div class="ibox float-e-margins">' +
                        '<div class="ibox-title">' +
                        '<h5>'+equipLst[i].name+'设备信息</h5>'+
                        '<div class="ibox-tools">' +
                        '<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>' +
                        '<a class="close-link"><i class="fa fa-times"></i></a>' +
                        '</div>' +
                        '</div>' +
                        '<div class="ibox-content">' +
                        '<table class="table table-hover">' +
                        '<tr>' +
                        '<th>'+'设备ID'+'</th>' +
                        '<td>'+ data[i]['id'] +'</td><tr>'+'<tr>' +
                        '<th>'+'设备名称'+'</th>' +
                        '<td>'+ data[i]['name'] +'</td><tr>'+'<tr>' +
                        '<th>'+'设备类型'+'</th>' +
                        '<td>'+ data[i]['type_name'] +'</td><tr>'+'<tr>' +
                        '<th>'+'工作年限'+'</th>' +
                        '<td>'+ data[i]['workyear'] +'</td><tr>'+'<tr>' +
                        '<th>'+'生产厂家'+'</th>' +
                        '<td>'+ data[i]['proname'] +'</td><tr>'+
                        '</table>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>';
                }
                if (data.length%2==1){
                    str = str+'</div>'
                }
                $("#lalala").html(str);

            },
            error: function (data) {
                alert("输入的id错误");
            }
        });


        function getCurve(ALARMDARRAY,ETA,BETA){
            var rArray = [];
            var fArray = [];
            var dots = [];
            var ALARMDARRAY = ALARMDARRAY.slice(1,-1).split(',');
            var n = ALARMDARRAY.length;
            var lastnode = ALARMDARRAY[n-1];
            for(var p = 0; p < n; p++){
                f = (p + 0.7)/(n + 0.4);
                var mm = ALARMDARRAY[p];
                dots.push([mm, f]);
            }
            var e = Math.E;
            for (var i = 0; i <= lastnode; i++) {
                var f =  1 - Math.pow(e,-Math.pow((i/ETA),BETA));
                var r = 1 - f;
                rArray.push([i, r]);
                fArray.push([i, f]);
            }
//            alert(rArray);
            return {
                'r': rArray,
                'f': fArray,
                'd': dots
            };
        }

        function getOption(data_r, data_f, dots,num) {
            var subname = equipLst[num].name;
            var option_1 = {
                backgroundColor: '#394056',
                title: {
                    text: "设备可靠性预测",
                    textStyle: {
                        fontWeight: 'bolder',
                        fontSize: 20,
                        color: '#F1F1F3'
                    },
                    subtext: "——" + subname,
                    subtextStyle: {
                        color: '#F1F1F3',
                        fontSize: 16
                    },
                    left: 'center'
                },
                grid: {
                    left: '4%',
                    right: '4%',
                    top: '25%',
    //                bottom: '5%',
                    containLabel: true
                },

                legend: {
                    type: 'plain',
                    textStyle: {
                        fontSize: 14,
                        color: '#F1F1F3'
                    },
                    // orient: 'vertical',
                    top: 60,
                    right: 60,
                    data: ['可靠性拟合曲线', '故障率拟合曲线', '数据点']
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '中位秩 <br />{a}{c0} 次',
                    axisPointer: {
                        type: 'cross'
                    }
                },
                xAxis: [
                    {
                        name: '工作时长（小时）',
                        nameLocation: 'middle',
                        nameGap: 20,
                        nameTextStyle: {
                            fontSize: 14,
                            fontWeight: 'bold'
                        },
                        type: 'value',
                        axisTick: {
                            alignWithLabel: true
                        },
                        axisLabel: {
                            margin: 10,
                            fontSize: 14,
                            fontWeight: 'bolder'
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#57617B'
                            }
                        },
                        splitLine: {
                            lineStyle: {
                                color: '#57617B',
                                type: 'dashed'
                            }
                        },
                        splitNumber: 10
                    }
                ],
                yAxis: {
                    //            name: '可靠性',
                    type: 'value',
                    nameTextStyle: {
                        color: '#F1F1F3',
                        fontSize: 16
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#57617B'
                        }
                    },
                    axisLabel: {
                        margin: 15,
                        fontSize: 14,
                        fontWeight: 'bolder'
                    },
                    splitLine: {
                        lineStyle: {
                            type: 'dashed',
                            color: '#57617B'
                        }
                    }
                },
                series: [{
                    // coordinateSystem: 'polar',
                    name: '可靠性拟合曲线',
                    type: 'line',
                    top: 'center',
                    lineStyle: {
                        normal: {
                            color: 'rgb(0, 191, 255)',
                            width: 2
                        }
                    },
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: 'rgba(0, 191, 255, 0.3)'
                            }, {
                                offset: 0.8,
                                color: 'rgba(0, 191, 255, 0)'
                            }], false),
                            shadowColor: 'rgba(0, 0, 0, 0.1)',
                            shadowBlur: 10
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'rgb(0, 191, 255)',
                            borderColor: 'rgba(0, 191, 255, 0.27)',
                            borderWidth: 12

                        }
                    },
                    symbol: 'none',
                    smooth: 'true',
                    color: ['#3398DB'],
                    data: data_r
                }, {
                    // coordinateSystem: 'polar',
                    name: '故障率拟合曲线',
                    type: 'line',
                    lineStyle: {
                        normal: {
                            type: 'dashed',
                            color: 'rgb(255, 0, 0)',
                            width: 2
                        }
                    },
    //                color: ["#8B3A3A"],
                    symbol: 'none',
                    smooth: 'true',
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: 'rgba(255, 0, 0, 0.3)'
                            }, {
                                offset: 0.8,
                                color: 'rgba(255, 0, 0, 0)'
                            }], false),
                            shadowColor: 'rgba(0, 0, 0, 0.1)',
                            shadowBlur: 12
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'rgb(255, 0, 0)',
                            borderColor: 'rgba(255, 0, 0, 0.27)',
                            borderWidth: 12

                        }
                    },
                    data: data_f
                }
                    , {
                        name: '数据点',
                        type: 'scatter',
                        itemStyle: {
                            normal: {
                                color: 'red',
                                opacity: 0.7
                            }
                        },
                        symbol: 'circle',
                        symbolSize: 8,
                        areaStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: 'rgba(250, 128, 114, 0.3)'
                                }, {
                                    offset: 0.8,
                                    color: 'rgba(250, 128, 114, 0)'
                                }], false),
                                shadowColor: 'rgba(0, 0, 0, 0.1)',
                                shadowBlur: 10
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: 'rgb(250, 128, 114)',
                                borderColor: 'rgba(250, 128, 114, 0.27)',
                                borderWidth: 12

                            }
                        },
                        label: {
                            emphasis: {
                                show: true,
                                position: 'left',
                                textStyle: {
                                    fontSize: 18
                                }
                            }
                        },
                        color: 'red',
                        data: dots
                    }
                ]
            };
        
            return option_1;
        }

        var odiv = document.getElementById("divLst");
        var divLst = document.getElementsByName("eq");

        for(var i = 0;i < divLst.length; i++){
            var mc = echarts.init(divLst[i]);
            var alarmTimeLst = equipLst[i].alarmTimeLst;
            var beta1 = equipLst[i].beta;
            var eta1 = equipLst[i].eta;
            var d_r, d_f, d_d = new Array();
            var value = getCurve(alarmTimeLst,eta1,beta1);
            d_r = value.r;
            d_f = value.f;
            d_d = value.d;
//            document.write(d_r+"\n" + d_d);
            option = getOption(d_r, d_f, d_d, i);
            mc.setOption(option);
        }
    });

</script>
</body>
</html>