<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>省份和业务选择</title>

    <link rel="shortcut icon" href="favicon.ico"> <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
    <link rel="stylesheet" href="layer/skin/default/layer.css">

</head>

<body class="gray-bg">
<div class="row" style="padding: 13px 0px">
    <div class="col-xs-2">
        <select class="form-control" id="Province" name="cars" >
            <option value="安徽">安徽</option>
            <option value="北京">北京</option>
            <option value="福建">福建</option>
            <option value="甘肃">甘肃</option>
            <option value="河北">河北</option>
            <option value="河南">河南</option>
            <option value="黑龙江">黑龙江</option>
            <option value="吉林">吉林</option>
            <option value="江苏">江苏</option>
            <option value="江西" selected = "selected">江西</option>
            <option value="蒙东">蒙东</option>
            <option value="宁夏">宁夏</option>
            <option value="青海">青海</option>
            <option value="陕西">陕西</option>
            <option value="天津">天津</option>
            <option value="西藏">西藏</option>
            <option value="浙江">浙江</option>
            <option value="重庆">重庆</option>
        </select>

    </div>
    <div class="col-xs-2">
        <select class="form-control" id="buz_type"  onchange="trans()">
            <option value="1">继电保护</option>
            <option value="2">安全自动装置</option>
            <option value="3">调度自动化</option>
        </select>
    </div>

    <!--<div class="col-xs-4" style="padding-left: 0px">-->
        <!--<input id="buz_id" type="text" name="设备ID" placeholder="请输入设备ID" value="A7464B0A-B0FB-41C5-951A-FE17E41B7263-00250"  class="form-control">-->

    <!--</div>-->
    <div class="col-xs-4" >  
        <span style="margin-left:100px;width:18px;overflow:hidden;">  
        <select  id="buz_id"  style="width:235px;margin-left:-86px;height:31px;" onchange="danwei()" >
            <option value="">请选择以下id</option>
            <option value="07EED32B-8284-4AC1-BECB-38E06708FADE-33924">07EED32B-8284-4AC1-BECB-38E06708FADE-33924</option>
            <option value="07EED32B-8284-4AC1-BECB-38E06708FADE-34788">07EED32B-8284-4AC1-BECB-38E06708FADE-34788</option>
            <option value="029CF020-34CD-4F6F-A6E8-223B16FC696E-04642">029CF020-34CD-4F6F-A6E8-223B16FC696E-04642</option>
            <option value="050CE870-29F5-47AD-9AD7-DB9DE6CDCAFF-06527">050CE870-29F5-47AD-9AD7-DB9DE6CDCAFF-06527</option>
            <option value="050CE870-29F5-47AD-9AD7-DB9DE6CDCAFF-06575">050CE870-29F5-47AD-9AD7-DB9DE6CDCAFF-06575</option>


        </select>
        </span>
        <input type="text" id="units" name="units" style="width: 215px;margin-left: -239px;height: 31px;color:#000;" placeholder="  请输入设备ID">
    </div>

    <div class="col-xs-1 ">
        <button id="btn"  class="btn btn-white " type="button" value="查询" style="width: 100%;color:#ffffff;background-color: #1ab394;">查&nbsp;&nbsp;&nbsp;询</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>业务基本信息</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="table_basic.html#">选项1</a>
                        </li>
                        <li><a href="table_basic.html#">选项2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" id="lalala">

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>业务拓扑图</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="table_basic.html#">选项1</a>
                        </li>
                        <li><a href="table_basic.html#">选项2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div>

                    <img id="img" height="100%" width="100%"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.5"></script>
<!--<script src="js/plugins/echarts/echarts-all.js"></script>-->
<script src="S_js/echarts.js"></script>
<script src="js/content.min.js?v=1.0.0"></script>
<script src="layer/layer.js"></script>
<!--<script src="js/demo/echarts-demo.min.js"></script>-->

</body>
<script type="text/javascript">

    function danwei(){  
          var text=$("#buz_id").val();  
          $("#units").val(text);  
     }

     function trans() {
        var option='';
        var buz_type = $('#buz_type').val();
        if (buz_type=='1'){
            option = option+'<option value="">请选择以下id</option>\n' +
                '            <option value="07EED32B-8284-4AC1-BECB-38E06708FADE-33924">07EED32B-8284-4AC1-BECB-38E06708FADE-33924</option>\n' +
                '            <option value="07EED32B-8284-4AC1-BECB-38E06708FADE-34788">07EED32B-8284-4AC1-BECB-38E06708FADE-34788</option>\n' +
                '            <option value="029CF020-34CD-4F6F-A6E8-223B16FC696E-04642">029CF020-34CD-4F6F-A6E8-223B16FC696E-04642</option>\n' +
                '            <option value="050CE870-29F5-47AD-9AD7-DB9DE6CDCAFF-06527">050CE870-29F5-47AD-9AD7-DB9DE6CDCAFF-06527</option>\n' +
                '            <option value="050CE870-29F5-47AD-9AD7-DB9DE6CDCAFF-06575">050CE870-29F5-47AD-9AD7-DB9DE6CDCAFF-06575</option>'

        }else if(buz_type=='2'){
            option = option+'<option value="">请选择以下id</option>\n' +
                '            <option value="F5A181DC-38F1-4805-A801-3B433198658F-03617">F5A181DC-38F1-4805-A801-3B433198658F-03617</option>\n' +
                '            <option value="A7464B0A-B0FB-41C5-951A-FE17E41B7263-00188">A7464B0A-B0FB-41C5-951A-FE17E41B7263-00188</option>\n' +
                '            <option value="64609D0C-F054-472D-A057-430C4635C634-06698">64609D0C-F054-472D-A057-430C4635C634-06698</option>\n' +
                '            <option value="F5A181DC-38F1-4805-A801-3B433198658F-19941">F5A181DC-38F1-4805-A801-3B433198658F-19941</option>\n' +
                '            <option value="F5A181DC-38F1-4805-A801-3B433198658F-08116">F5A181DC-38F1-4805-A801-3B433198658F-08116</option>\n' +
                '            <option value="3251AD5B-1A04-4042-A149-D5663F1C6889-00870">3251AD5B-1A04-4042-A149-D5663F1C6889-00870</option>\n' +
                '            <option value="F5A181DC-38F1-4805-A801-3B433198658F-19998">F5A181DC-38F1-4805-A801-3B433198658F-19998</option>\n' +
                '            <option value="3251AD5B-1A04-4042-A149-D5663F1C6889-00998">3251AD5B-1A04-4042-A149-D5663F1C6889-00998</option>\n' +
                '            <option value="64609D0C-F054-472D-A057-430C4635C634-06639">64609D0C-F054-472D-A057-430C4635C634-06639</option>'
        }else {
            option = option+'<option value="">请选择以下id</option>\n' +
                '            <option value="027C39B6-5069-473A-8CF1-513268B6DBD3-08361">027C39B6-5069-473A-8CF1-513268B6DBD3-08361</option>\n' +
                '            <option value="027C39B6-5069-473A-8CF1-513268B6DBD3-08509">027C39B6-5069-473A-8CF1-513268B6DBD3-08509</option>\n' +
                '            <option value="029CF020-34CD-4F6F-A6E8-223B16FC696E-01893">029CF020-34CD-4F6F-A6E8-223B16FC696E-01893</option>\n' +
                '            <option value="029CF020-34CD-4F6F-A6E8-223B16FC696E-04034">029CF020-34CD-4F6F-A6E8-223B16FC696E-04034</option>\n' +
                '            <option value="029CF020-34CD-4F6F-A6E8-223B16FC696E-04050">029CF020-34CD-4F6F-A6E8-223B16FC696E-04050</option>\n' +
                '            <option value="029CF020-34CD-4F6F-A6E8-223B16FC696E-04302">029CF020-34CD-4F6F-A6E8-223B16FC696E-04302</option>\n' +
                '            <option value="029CF020-34CD-4F6F-A6E8-223B16FC696E-05479">029CF020-34CD-4F6F-A6E8-223B16FC696E-05479</option>\n' +
                '            <option value="029CF020-34CD-4F6F-A6E8-223B16FC696E-04528">029CF020-34CD-4F6F-A6E8-223B16FC696E-04528</option>'

        }
         $("#buz_id").html(option);
         $("#units").val("");
         $("#buz_id").val("");

     }

    $(function() {
        $('#btn').click(function () {
            var index = layer.load(0, {
                shade: [0.3, '#ddd']//0.1透明度的白色背景
            });

            alert("lalalaaaaaa");
            layer.close(index);
            var province = $("#Province").val();
            var buz_type = $('#buz_type').val();
            var buz_id = $('#buz_id').val();
            var Str = '';
            $.ajax({
                url: "../../t/chaxun",
                type: "post",
                dataType: "json",
                async: false,
                data: "buz_type="+buz_type+"&buz_id="+buz_id+"&province="+province,
                success: function (data) {



                    for(var i=0;i<data.length;i++){
                        Str = Str + '<table class="table table-hover">';
                        if(i==0){
                            if(data[i]['业务类型']=="1"){
                                data[i]['业务类型']="继电保护"
                            }
                            if(data[i]['业务类型']=="2"){
                                data[i]['业务类型']="安全自动装置"
                            }
                            if(data[i]['业务类型']=="3"){
                                data[i]['业务类型']="调度自动化"
                            }
                            if(data[i]['业务服务状态']=="0"){
                                data[i]['业务服务状态']="退役"
                            }
                            if(data[i]['业务服务状态']=="1"){
                                data[i]['业务服务状态']="在役"
                            }
                            Str = Str+'<tr>' +
                                '<th>'+'业务ID'+'</th>' +
                                '<td>'+ data[i]['业务ID'] +'</td><tr>'+'<tr>' +
                                '<th>'+'业务名称'+'</th>' +
                                '<td>'+ data[i]['业务名称'] +'</td><tr>'+'<tr>' +
                                '<th>'+'业务全名'+'</th>' +
                                '<td>'+ data[i]['业务全名'] +'</td><tr>'+'<tr>' +
                                '<th>'+'业务类型'+'</th>' +
                                '<td>'+ data[i]['业务类型'] +'</td><tr>'+'<tr>' +
                                '<th>'+'业务服务状态'+'</th>' +
                                '<td>'+ data[i]['业务服务状态'] +'</td><tr>';
                        }else {
                            if(data[i]['通道是否删除']=="1"){
                                data[i]['通道是否删除']="未删除"
                            }
                            if(data[i]['通道是否删除']=="0"){
                                data[i]['通道是否删除']="已删除"
                            }
                            if(data[i]['通道类型']=="1"){
                                data[i]['通道类型']="SDH通道"
                            }
                            if(data[i]['通道类型']=="2"){
                                data[i]['通道类型']="SDH通道"
                            }
                            if(data[i]['通道服务状态']=="1"){
                                data[i]['通道服务状态']="在役"
                            }else{
                                data[i]['通道服务状态']="退役"
                            }
                            Str = Str+'<tr>' +
                                '<th>'+'通道ID'+'</th>' +
                                '<td>'+ data[i]['通道ID'] +'</td><tr>'+'<tr>' +
                                '<th>'+'通道名称'+'</th>' +
                                '<td>'+ data[i]['通道名称'] +'</td><tr>'+'<tr>' +
                                '<th>'+'通道是否删除'+'</th>' +
                                '<td>'+ data[i]['通道是否删除'] +'</td><tr>'+'<tr>' +
                                '<th>'+'通道类型'+'</th>' +
                                '<td>'+ data[i]['通道类型'] +'</td><tr>'+'<tr>' +
                                '<th>'+'通道服务状态'+'</th>' +
                                '<td>'+ data[i]['通道服务状态'] +'</td><tr>';
                        }
                        Str += '</table>';
                    }

                    $("#lalala").html(Str);
//                    layer.close(index);

                },
                error: function (data) {
                    if (data.result == "error") {
                        alert("输入的id错误!!!");
                    }
                }
            });
//            alert('lalala');
            $.ajax({
                url: "../../t/topo",
                type: "post",
                dataType: "json",
                async: false,
//                data: "buz_type="+buz_type+"&buz_id="+buz_id+"&province="+province,
                success: function (data) {
//                    alert('lalala');
//                    var lujing = 'topo_img/' + buz_id + '.png';
                    //如果返回的map值为true则显示图片，如果返回的map值为false则不显示图片
//                    $('#img').html("<img src='topo_img/'" + buz_id + "'.png' />");
//                    alert("aaaa");
                    $('#img').attr('src',"topo_img/" + buz_id + ".png");

                },
                error: function (data) {
                    if (data.result == "error") {
                        alert("业务拓扑图有误");
                    }
                }
            });
        });

    });
</script>
</html>