<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>接口类型</title>

    <link rel="shortcut icon" href="favicon.ico"> <link href="./css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
    <link rel="stylesheet" href="layer/skin/default/layer.css">

    <style>
        .ibox-title{
            border-top-color: white;

        }

    </style>

</head>

<body class="gray-bg">
<div class="row  border-bottom white-bg dashboard-header">


    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="white-bg dashboard-header">
                    <h4>算法简介</h4>
                    <p>使用决策树分类模型，该算法是机器学习中的经典分类算法之一，在相对短的时间内能够对大型数据源做出可行且效果良好的结果，逻辑清晰，易于理解和解释；其对数据的准备往往是简单或者是不必要的，其他的技术往往要求先把数据一般化，比如去掉多余的或者空白的属性；能够同时处理数据型和常规型属性。其他的技术往往要求数据属性的单一。此处分类纠错利用了它对缺失值不敏感， 效率高，决策树只需要一次构建，反复使用，每一次预测的最大计算次数不超过决策树的深度等特点，得到了符合预期的结果。</p>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>算法流程简介图</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="graph_flot.html#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="graph_flot.html#">选项1</a>
                        </li>
                        <li><a href="graph_flot.html#">选项2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div style="height:340px" id="brief"></div>
            </div>
        </div>
    </div>
</div>





<!--插入选择-->
        <div class="row" style="padding: 10px 9px">
            <div class="col-xs-2">
                <select class="form-control" id="province" name="cars" >
                    <option value="安徽">安徽</option>
                    <option value="北京">北京</option>
                    <option value="成都">成都</option>
                    <option value="重庆">重庆</option>
                    <option value="福建">福建</option>
                    <option value="甘肃">甘肃</option>
                    <option value="河北">河北</option>
                    <option value="黑龙江">黑龙江</option>
                    <option value="河南">河南</option>
                    <option value="湖北">湖北</option>
                    <option value="湖南">湖南</option>
                    <option value="江苏">江苏</option>
                    <option value="江西" SELECTED>江西</option>
                    <option value="冀北">冀北</option>
                    <option value="吉林">吉林</option>
                    <option value="辽宁">辽宁</option>
                    <option value="蒙东">蒙东</option>
                    <option value="宁夏">宁夏</option>
                    <option value="青海">青海</option>
                    <option value="山西">山西</option>
                    <option value="陕西">陕西</option>
                    <option value="山东">山东</option>
                    <option value="四川">四川</option>
                    <option value="新疆">新疆</option>
                    <option value="西藏">西藏</option>
                    <option value="浙江">浙江</option>
                </select>
            </div>
            <div class="col-xs-8 no-margins no-padding">
                <button class="btn btn-white " type="button" onclick="buz_type()" value="查询" style="width: 15%;color:#ffffff;background-color: #1ab394;">查&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;询</button>
            <!--</div>-->
            <!--<div class="col-xs-8 no-margins no-padding">-->
                <button class="btn btn-white " type="button" onclick="re_buz_type()" value="刷新" style="width: 15%;color:#ffffff;background-color: #1ab394;">刷&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新</button>
            </div>
        </div>

        <!--测试-->

            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>接口类型异常设备-准确率top10</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="table_data_tables.html#">选项1</a>
                                    </li>
                                    <li><a href="table_data_tables.html#">选项2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th style="text-align: center">设备ID    </th>
                                    <th style="text-align: center">接口类型</th>
                                    <th style="text-align: center">接口类型预测</th>
                                    <th style="text-align: center">准确率</th>
                                </tr>
                                </thead>
                                <tbody id="interface_type_diff">

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>


                <div class="col-sm-12" >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>接口类型为空设备-准确率top10</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="table_data_tables.html#">选项1</a>
                                    </li>
                                    <li><a href="table_data_tables.html#">选项2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr >
                                    <th style="text-align: center">设备ID    </th>
                                    <th style="text-align: center">接口类型    </th>
                                    <th style="text-align: center">接口类型预测</th>
                                    <th style="text-align: center">准确率</th>
                                </tr>
                                </thead>
                                <tbody id="interface_type_null">

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

            </div>

		
    </div>
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.5"></script>
    <!--<script src="js/plugins/echarts/echarts-all.js"></script>-->
	<script src="S_js/echarts.js"></script>
    <script src="js/content.min.js?v=1.0.0"></script>
    <!--<script src="js/demo/echarts-demo.min.js"></script>-->
        <script src="js/plugins/jeditable/jquery.jeditable.js"></script>
        <script src="js/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>
        <script src="js/content.min.js?v=1.0.0"></script>
        <script src="js/plugins/iCheck/icheck.min.js"></script>
        <script src="layer/layer.js"></script>
        <!--<script>-->
            <!--$(document).ready(function(){$(".dataTables-example").dataTable();var oTable=$("#editable").dataTable();oTable.$("td").editable("../example_ajax.php",{"callback":function(sValue,y){var aPos=oTable.fnGetPosition(this);oTable.fnUpdate(sValue,aPos[0],aPos[1])},"submitdata":function(value,settings){return{"row_id":this.parentNode.getAttribute("id"),"column":oTable.fnGetPosition(this)[2]}},"width":"90%","height":"100%"})});function fnClickAddRow(){$("#editable").dataTable().fnAddData(["Custom row","New row","New row","New row","New row"])};-->
        <!--</script>-->
    
</body>
<script type="text/javascript">

    /*
* 算法简介图
* */
    var myChart2 = echarts.init(document.getElementById('brief'));
    option2 = {
        title: {
            text: '算法流程简介图'
        },
        tooltip: {},
        animationDurationUpdate: 1500,
        animationEasingUpdate: 'quinticInOut',
        series : [
            {
                type: 'graph',
                layout: 'none',
                symbolSize: 95,
                //roam: true,
                label: {
                    normal: {
                        show: true
                    }
                },
                edgeSymbol: ['circle', 'arrow'],
                edgeSymbolSize: [4, 10],
                edgeLabel: {
                    normal: {
                        textStyle: {
                            fontSize: 20
                        }
                    }
                },
                data: [
                    {name: '样本抽取',x: 0,y: 100},
                    {name: '特征属性确认',x: 25,y: 100},
                    {name: '选择最优划分属性',x: 50,y: 100},
                    {name: '创建节点',x: 75,y: 100},
                    {name: '递归创建分支',x: 75,y: 115},
                    {name: '得到决策树',x: 50,y: 115},
                    {name: '可信度计算',x: 25,y: 115},
                    {name: '输出结果',x: 0,y: 115}
                ],
                // links: [],
                links: [
                    {source: '样本抽取',target: '特征属性确认'},
                    {source: '特征属性确认',target: '选择最优划分属性',label: {normal: {show: true,formatter: '计算基尼指数'}}},
                    {source: '选择最优划分属性',target: '创建节点'},
                    {source: '创建节点',target: '递归创建分支'},
                    {source: '递归创建分支',target: '得到决策树',label: {normal: {show: true,formatter: '剪枝'}}},
                    {source: '得到决策树',target: '可信度计算'},
                    {source: '可信度计算',target: '输出结果'}
                ],
                lineStyle: {
                    normal: {
                        opacity: 0.9,
                        width: 2,
                        curveness: 0
                    }
                }
            }
        ]
    };
    myChart2.setOption(option2);
    $(window).resize(myChart2.resize);








    $(document).ready(function(){

        buz_type();

    });

	/*
	 *  接口类型异常设备
	 */

    function buz_type() {
        var province = $("#province").val();

        var html1=""
        $.ajax({
            url: "../../S_data/interface_type_diff",
            type: "post",
            dataType : "json",
            data:"Province="+province,
            success: function (data){
                $.each(data,function (i,item) {
                    html1+=" <tr class=\"gradeA\">"+
                        "<td style='text-align: left;width: 30%'>"+item.ID+"</td>"+
                        "<td style='text-align: center;width: 20%'>"+item.StationName+"</td>"+
                        "<td style='text-align: center;width: 20%'>"+item.NumberRecords+"</td>"+
                        "<td class=\"center\" style='text-align: center;width: 30%'>"+item.NumberForecast+"</td>"+
                        "</tr>";




                } )
                $("#interface_type_diff").html(html1);

            }
        });

//        加载框框
        $(document).ready(function(){
//            $(".dataTables-example").dataTable();
            var oTable=$("#editable").dataTable();
            oTable.$("td").editable("../example_ajax.php",{
                "callback":function(sValue,y){
                    var aPos=oTable.fnGetPosition(this);
                    oTable.fnUpdate(sValue,aPos[0],aPos[1])
                },
                "submitdata":function(value,settings){
                    return{
                        "row_id":this.parentNode.getAttribute("id"),"column":oTable.fnGetPosition(this)[2]
                    }
                    },
                "width":"90%","height":"100%"
            })});
        function fnClickAddRow(){
            $("#editable").dataTable().fnAddData(
                ["Custom row","New row","New row","New row","New row"])
        };

        /*
             *  通道类型为空设备
             */
        var html2="";
        $.ajax({
            url: "../../S_data/interface_type_null",
            type: "post",
            dataType : "json",
            data:"Province="+province,
            success: function (data){
                $.each(data,function (i,item) {
                    html2+=" <tr class=\"gradeA\" >"+
                        "<td style='text-align: left ;width:30%;' >"+item.ID+"</td>"+
                        "<td style='text-align: center;width: 20%'>空</td>"+
                        "<td style='text-align: center;width: 20%'>"+item.StationName+"</td>"+
                        "<td class=\"center\" style='text-align: center;width: 30%'>"+item.NumberForecast+"</td>"+
                        "</tr>";


                } )
                $("#interface_type_null").html(html2);

            }
        });

    }


    function re_buz_type(){
        var province = $("#province").val();
        var index = layer.load(0, {
            shade: [0.3, '#ddd']//0.1透明度的白色背景
        });
        $.ajax({
            url: "../../S_data/re_interface_type",
            type: "post",
            dataType : "json",
            data:"Province="+province,
            success: function (data){
                layer.close(index);
                buz_type();
            }
        });

    }

</script>
</html>