<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>通信网优化</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
    <link rel="stylesheet" href="layer/skin/default/layer.css">

</head>

<body class="gray-bg">

    <div class="wrapper wrapper-content animated fadeInRight">

		
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
                    <div class="ibox-content text-center">
                        <h2 class="m-b-xxs"><b>一、扩容</b></h2>
                    </div>
					<div class="white-bg dashboard-header">
						<p>下图显示的是江西省的站点分布图。</p>
						<p>圆点代表站点，圆点颜色代表该站点扩容的迫切性，线段代表光缆，线段颜色代表此光缆扩容迫切性，也代表铅芯占用率，颜色条代表颜色的渐变，</p>
						<p>例如：站点颜色越红，代表该站点需要扩容；线段颜色越红，代表光缆需要扩容。</p>
					</div>
                </div>
			</div>
		</div>
        <div class="row" style="padding: 13px 0px">
            <div class="col-xs-2">
                <select class="form-control" id="Province" name="province" >
                    <option value="安徽">安徽</option>
                    <option value="北京">北京</option>
                    <option value="福建">福建</option>
                    <option value="甘肃">甘肃</option>
                    <option value="河北">河北</option>
                    <option value="河南">河南</option>
                    <option value="黑龙江">黑龙江</option>
                    <option value="吉林">吉林</option>
                    <option value="江苏">江苏</option>
                    <option value="江西" selected>江西</option>
                    <option value="蒙东">蒙东</option>
                    <option value="宁夏">宁夏</option>
                    <option value="青海">青海</option>
                    <option value="陕西">陕西</option>
                    <option value="天津">天津</option>
                    <option value="西藏">西藏</option>
                    <option value="浙江">浙江</option>
                    <option value="重庆">重庆</option>
                </select>
            </div>

            <div class="col-xs-8 no-margins no-padding">

                <button  class="btn btn-white " type="button" onclick="loadStation()" value="查询" style="width: 15%;color:#ffffff;background-color: #1ab394;">查&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;询</button>
                <button  class="btn btn-white " type="button" onclick="refreshData()" value="" style="width: 15%;color:#ffffff;background-color: #1ab394;">刷&nbsp;&nbsp;新&nbsp;&nbsp;数&nbsp;&nbsp;据</button>
            </div>
        </div>
		<div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="border: 0px;">
                        <h5>江西省站点分布图</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="graph_flot.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="graph_flot.html#">选项1</a>
                                </li>
                                <li><a href="graph_flot.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>



                    <div class="ibox-content">
                        <div id="main" style="width:100%;height:1000px;"></div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.5"></script>
    <script src="js/content.min.js?v=1.0.0"></script>
	<script src="S_js/echarts.js"></script>
    <script src="S_js/anhui.js"></script>
    <script src="S_js/beijing.js"></script>
    <script src="S_js/fujian.js"></script>
    <script src="S_js/gansu.js"></script>
    <script src="S_js/hebei.js"></script>
    <script src="S_js/henan.js"></script>
    <script src="S_js/heilongjiang.js"></script>
    <script src="S_js/jilin.js"></script>
    <script src="S_js/jiangsu.js"></script>
    <script src="S_js/jiangxi.js"></script>
    <script src="S_js/neimenggu.js"></script>
    <script src="S_js/ningxia.js"></script>
    <script src="S_js/qinghai.js"></script>
    <script src="S_js/shanxi1.js"></script>
    <script src="S_js/tianjin.js"></script>
    <script src="S_js/xizang.js"></script>
    <script src="S_js/zhejiang.js"></script>
    <script src="S_js/chongqing.js"></script>
    <script src="S_js/china.js"></script>
    <script src="layer/layer.js"></script>
</body>

<script type="text/javascript">
    $(document).ready(function(){
        loadStation();
//        loadPath();

    });

	/*
	 * 站点分布图（扩容预测）
	 */

    function loadStation() {
        var Province = $("#Province").val();

        //获取各站点信息
        $.ajax({
            url: "../../StationProperty/S_dataQualityFilter",
            type: "post",
            dataType: "json",
            async: false,
            data:"Province="+Province,
            success: function (data) {
                //取出信息
                Station(data);



            },
            error: function (data) {
                if (data.result == "error") {
                    alert("出现异常");
                }
            }
        });


    }

    /*
	 * 刷新数据
	 */

    function refreshData() {

        var Province = $("#Province").val();

        var index = layer.load(0, {
            shade: [0.3, '#ddd']//0.1透明度的白色背景
        });

        //处理所有数据，并调用py重新生成数据插入数据库
        $.ajax({
            url: "../../dealData/dealProvinceData",
            type: "post",
            dataType: "json",
            async: true,
            data:"Province="+Province,
            success: function (data) {
                //loading层

                layer.close(index);

                loadStation();

            },
            error: function (data) {
                if (data.result == false) {
                    alert("出现异常");
                }
            }
        });
    }


    function Station(obj) {
        var geoCoordMap = new Array();
        var station = new Array();
        var example ;
        var prov=null;
        var Province = $("#Province").val();

        $.each(obj,function (i,item) {
//            省份信息
            prov=item.Province;

//            站点GIS坐标
            geoCoordMap[item.Name] = [item.xAxis,item.yAxis];
//            站点内部属性
            example={
                name : item.Name,
                businessNum : item.BusinessNum,
                kuorong : item.KuoRong,
                portOcc:item.portOcc,
                buzNumRate:item.buzNumRate,
                increaseRate:item.increaseRate
            };
//            每个站点的数据
            station[i]= example;
//            alert(station[i]);
        });

    var myChart = echarts.init(document.getElementById('main'));

        //获取站点连接信息
        $.ajax({
            url: "../../StationLink_JiangXi/S_dataQualityLink",
            type: "post",
            dataType: "json",
            async: false,
            data:"Province="+Province,
            success: function (data) {

                StationLink(data);

            },
            error: function (data) {
                if (data.result == "error") {
                    alert("出现异常");
                }
            }
        });
    //取出站点连接信息
    function StationLink(obj) {

     // 各个站点之间的连接情况
        var edges = new Array();
        var name1;
        var name2;

    $.each(obj,function (i,item) {
        name1={
            name:item.Name1
        };
        name2={
            name:item.Name2,
            fiberOcc: item.FiberOcc
        };
        edges[i]=[name1,name2];

    });


        //var planePath = 'path://M1705.06,1318.313v-89.254l-319.9-221.799l0.073-208.063c0.521-84.662-26.629-121.796-63.961-121.491c-37.332-0.305-64.482,36.829-63.961,121.491l0.073,208.063l-319.9,221.799v89.254l330.343-157.288l12.238,241.308l-134.449,92.931l0.531,42.034l175.125-42.917l175.125,42.917l0.531-42.034l-134.449-92.931l12.238-241.308L1705.06,1318.313z';

        var convertData = function (data) {
            var res = [];
            for (var i = 0; i < data.length; i++) {
                var dataItem = data[i];
                var fromCoord = geoCoordMap[dataItem[0].name];
                var toCoord = geoCoordMap[dataItem[1].name];
                if (fromCoord && toCoord) {
                    res.push({
                        //fromName: dataItem[0].name,
                        //toName: dataItem[1].name,
                        name: "铅芯占用率",
                        coords: [fromCoord, toCoord],
                        value: dataItem[1].fiberOcc
                    });
                }
            }
            return res;
        };

        var color = ['#a6c84c', '#ffa022', '#46bee9'];

        var series = [
            {//两个站点之间的连线
                type: 'lines',
                coordinateSystem: 'geo',
                zlevel: 9,
                large: true,
                symbol: ['none', 'none'],
                symbolSize: 10,
                effect: {
                    show: true,
                    constantSpeed: 30,
                    symbol: 'pin',
                    symbolSize: 3,
                    trailLength: 0
                },
                lineStyle: {
                    normal: {
                        //color: '#a6c84c',
                        width: 1,
                        opacity: 0.2,
                        curveness: 0.1
                    }
                },
                data: convertData(edges)
            },
            {//每个站点
                type: 'effectScatter',
                coordinateSystem: 'geo',
                hoverAnimation: true,
                showEffectOn: 'render',
                zlevel: 9,
                rippleEffect: {
                    brushType: 'stroke'
                },
                label: {
                    normal: {
                        show: false,
                        position: 'right',
                        formatter: '{b}'
                    }
                },
                symbolSize: function (val) {
                    x = val[2] * 20;
                    if(x < 2){
                        return 1;
                    }
                    return x;
                },
//                symbolSize: 3,
                data: station.map(function (dataItem) {
                        return {
                            name: dataItem.name+' , 业务数：'+dataItem.businessNum+'，扩容迫切性：'+dataItem.kuorong,
                            value: geoCoordMap[dataItem.name].concat([dataItem.kuorong]),
                            portOcc:dataItem.portOcc,
                            buzNumRate:dataItem.buzNumRate,
                            increaseRate:dataItem.increaseRate
                        };
                    }
                )
            }
        ];

        var Province = $("#Province").val();
        option = {
            //backgroundColor: '#003',//#404a59
            title : {
                text: Province,
                subtext: '站点分布图',
                left: 'center',
                textStyle : {
                    color: '#404a59'
                }
            },
            tooltip : {
                trigger: 'item',
                formatter: function (params) {
                    if(params.name.indexOf("铅芯占用率") == -1)
                        return params.name;
                    else
                        return params.name+ ' : ' + params.value;
                }
            },
            toolbox:{
                show:true,
                feature:{
                    mark:{show:!0},
//                    dataView:{show:!0,readOnly:!1},
                    restore:{show:!0},
                    saveAsImage:{show:!0}
                }
            },
            visualMap: [
                {
                    min: 0,
                    max: 1,
                    text:['高','低'],
                    precision:2,
                    calculable: true,
                    top:'center',
                    hoverLink:true,
                    inRange: {
                        color: ['#50a3ba', '#eac736', '#d94e5d']
//                        color: ['#a4c6fc', '#5c9bfb', '#2374fa','#003583','#003583','#001d47']
//                        color: ['#efdcd2','#f7bc9a','#f3a376','#f58157', '#f36938','#ef5a0b']
                    },
                    textStyle: {
                        color: '#003'
                    }
                }
            ],
            geo: {
                map: Province,
                label: {
                    emphasis: {
                        show: false
                    }
                },
                roam: true,
                itemStyle: {
                    normal: {
                        areaColor: '#323c48',
                        borderColor: '#ffefd5'//'#404a59'
                    },
                    emphasis: {
                        areaColor: '#2a333d',
                        opacity:0
//                        zlevel:0
                    }
                }
            },
            series: series
        };

        myChart.on('click', function (params) {
            var node = params.name;
            var portOcc = (params.data.portOcc*100).toFixed(2)  + "%";
            var buzNumRate =(params.data.buzNumRate*100).toFixed(2) + "%";
            var increaseRate = (params.data.increaseRate*100).toFixed(2)   + "%";
            var if_exist = RegExp("扩容").test(node);
            if(if_exist){

                layer.config({
                    extend: 'routeSkin/style.css', //同样需要加载新皮肤
                    skin:'layer-ext-yi'
                });

                layer.msg("端口占用率："+portOcc+" <br> 站点承载的重要业务数："+buzNumRate+" <br> 站点业务数增长率：" +increaseRate, {
                    time: 90000, //5s后自动关闭,
                    btnAlign: 'c',
                    skin:'layer-ext-yi',
//                    btn: ['新增下级问题'],
                    closeBtn: 1,
                    tipsMore:false,
                    yes:function (index, layero) {
                        layer.close(index);
                    }
                });
            }
        });


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        $(window).resize(myChart.resize);
    }



}
</script>