<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.ssm.mapper.S_data.Abnormal_top10Mapper" >

    <!--结果映射-->
    <resultMap id="AbnormalMap" type="com.demo.ssm.po.S_data.Abnormal_top10">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="TransformSubstation" property="stationName" jdbcType="VARCHAR"/>
        <result column="BusinessNumRecords" property="numberRecords" jdbcType="VARCHAR"/>
        <result column="BusinessNumForecast" property="numberForecast" jdbcType="VARCHAR"/>

    </resultMap>

    <!--字段片段-->
    <sql id="Abnormal">
        ID,TransformSubstation,BusinessNumRecords,BusinessNumForecast
    </sql>

    <!--按照ID查询-->
    <select id="selectByPrimaryKey" resultMap="AbnormalMap" >
      SELECT *
      FROM AbnormalStation_top10
    </select>
    
    <!-- 查询表的数据个数-->
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM AbnormalStation_top10

    </select>

</mapper>