<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.ssm.mapper.S_data.Accurate_top10Mapper" >
    <!--结果映射-->
    <resultMap id="AccurateMap" type="com.demo.ssm.po.S_data.Accurate_top10">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="TransformSubstation" property="stationName" jdbcType="VARCHAR"/>
        <result column="BusinessNumRecords" property="numRecords" jdbcType="VARCHAR"/>
        <result column="BusinessNumForecast" property="numForecast" jdbcType="VARCHAR"/>

    </resultMap>

    <!--字段片段-->
    <sql id="Accurate">
        ID,TransformSubstation,BusinessNumRecords,BusinessNumForecast
    </sql>

    <!--按照ID查询-->
    <select id="selectByPrimaryKey" resultMap="AccurateMap" >
        SELECT *
        FROM AccuratePrediction_top10

    </select>

    <!-- 查询表的数据个数-->
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM AccuratePrediction_top10

    </select>
</mapper>