<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.ssm.mapper.S_reliability.t_buzMapper" >

    <!--结果映射-->
    <resultMap id="t_buzMap" type="com.demo.ssm.po.S_reliability.t_buz">
        <id column="_id" property="_id" jdbcType="VARCHAR"/>
        <result column="OBJ_ID" property="OBJ_ID" jdbcType="VARCHAR"/>
        <result column="NAME" property="NAME" jdbcType="VARCHAR"/>
        <result column="FULL_NAME" property="FULL_NAME" jdbcType="VARCHAR"/>
        <result column="BUZ_TYPE" property="BUZ_TYPE" jdbcType="VARCHAR"/>
        <result column="SERVICE_STATE" property="SERVICE_STATE" jdbcType="VARCHAR"/>
        <result column="NE_LIST" property="NE_LIST" jdbcType="VARCHAR"/>

    </resultMap>

    <!--字段片段-->
    <!--<sql id="Analysis">-->
    <!--ID,TransformSubstation,UseTime,beta,eta-->
    <!--</sql>-->

    <!--按照ID查询-->
    <select id="selectByPrimaryKey" parameterType="com.demo.ssm.po.S_reliability.t_buz" resultMap="t_buzMap" >
        SELECT *
        FROM t_buz
        WHERE BUZ_TYPE =#{BUZ_TYPE} AND OBJ_ID =#{OBJ_ID} AND province =#{province}
    </select>

    <select id="count" parameterType="com.demo.ssm.po.S_reliability.t_buz" resultType="java.lang.Integer">
        SELECT COUNT(_id)
        FROM t_buz
        WHERE BUZ_TYPE =#{BUZ_TYPE} AND OBJ_ID =#{OBJ_ID} AND province =#{province}
    </select>

</mapper>